		*{
			padding:0;
			margin:0 auto;
		}
		body{
			min-width: 1440px;
		}
		/*头部*/
		header{
			color: #fff;
			height: 700px;
			background-image: url(images/header-bg.png);
		}
		.header-title{
			position: relative;
			width: 50%;
			top:15%;
		}
		h1{
			text-align:center;
			font-size: 45px;
		}
		.header-text{
			position: relative;
			top:25%;
			text-align: center;
		}
		.sign-up{
			width: 50%;
			height:22%;
			border: 1px solid #888;
			position: relative;
			top:35%;
			text-align:center;
		}
		.sign-up p{
			position: relative;
			top:15%;
		}
		.sign-up form{
			position: relative;
			top:35%;
		}
		.text{
			width: 25%;
			height:30px;
			background-color: transparent;
			border: 1px solid #888;
			margin-right: 4%;
		}
		.sign-up p:first-child{
			font-weight: 600;
		}
		.sign-up p:nth-child(2){
			font-size: 12px;
			color:#888;
		}
		.submit{
			width: 20%;
			height:32px;
			background-color: #fff;
			color:#000;
			border: 0;
		}

		/*主体部分*/
		/*第一部分*/
		.body-one-text{
			margin-top:50px;
			text-align:center;
		}
		.body-one-text p:first-child{
			font-size:12px;
		}
		.body-one-text p:nth-child(2){
			margin-top:20px;
			font-size:30px;
		}
		.body-one-text p:last-child{
			font-size:30px;
		}
		.body-one{
			width:80%;
			display: flex;
			flex-wrap: wrap;
			margin-bottom:50px;
		}
		.pfont{
			font-size:20px;
		}
		.body-one section div{
			float:right;
			margin-left:20px;
			width:345px;
		}
		.body-one section div p:last-child{
			margin-top:10px;
		}
		.body-one section:nth-child(1){
			margin-top:80px;
		}
		.body-one section:nth-child(2){
			margin-top:80px;
		}
		.body-one section:nth-child(3){
			margin-top:80px;
		}
		.body-one section:last-child{
			margin-top:80px;
		}
		/*第二部分*/
		.two{
			height:700px;
			background-image: url(images/前端学院设计图_18.png);
			background-repeat: no-repeat;
			background-position:-175px -40px;
			color:#fff;
		}
		.two div{
			width:37%;
			position:relative;
			top:25%;
			left:15%;
			margin:0;
			height:33%;
		}
		.two div p{
			width:340px;
			height:50%;
			margin:30px 0;
		}
		.two h2{
			width:240px;
			margin:0;
		}
		.two form{
			width:435px;
			position:relative;
			top:35%;
			left:15%;
			margin:0;
		}
		.two input{
			width:200px;
			height:50px;
		}
		.two input:last-child{
			margin-left:30px;
		}
		.white{
			color:#000;
			background-color:#fff;
			border:0;
		}
		.transparent{
			color:#fff;
			background-color:transparent;
			border:1px solid #888;
		}
		/*第三部分*/
		.Gray{
			color: #888;
		}
		.line{
			border-top: 1px solid #888;
			transform: scale(1,0.5);
			margin-top: 50px;
			margin-bottom: 50px;
		}
		.three-top{
			width:80%;
			display: flex;
			flex-wrap: wrap;
		}
		.three-top h2{
			width:100%;
			margin:50px 0;
			text-align: center;
		}
		.three-middle-1 img{
			width: 45%;
			height: 40%;
		}
		.middle{
			width:70%;
			display: flex;
			flex-wrap: wrap;
		}
		.middle-1 div{
			width:23%;
			margin: 0;
		}
		.middle-1>img{
			margin-left: 7%;
			margin-right: 20%;
		}
		.middle-2{
			margin-top: 60px;
			flex-direction: row-reverse;
		}
		.middle-2 div{
			width:30%;
			margin-left: 7%;
		}
		.middle-2>img{
			margin-left: 0;
			margin-right: 5%;
		}
		.bold{
			font-weight: bold;
		}
		.three-middle-2{
			text-align: center;
		}
		.three-middle-2 h2{
			margin-bottom: 20px;
		}
		.teacher{
			margin-top: 40px;
			position: relative;
		}
		.teacher::after{
			content: '';
			clear: both;
			display: block;
		}
		.img{
			width:100%;
		}
		.teacher-img{
			width: 30%;
			margin: 0;
			float: left;
			margin-left: 20%;
		}
		.teacher-img:nth-child(2){
			margin-left: 1%;
		}
		.teacher-img:nth-child(3){
			margin-top: 1%;
		}
		.teacher-img:nth-child(4){
			margin-top: 1%;
			margin-left: 1%;
		}
		.img-hover{
			width:30%;
			height:48.3%;
			display: flex;
			flex-direction: column;
			justify-content:center;
			color:#FFF;
			background-color: rgba(0,0,0,0.5);
			opacity: 0;
			position: absolute;
			transition:all 1s;
		}
		.hover-text div{
			margin-bottom:20%;
		}
		.hover-text h3{
			margin-bottom:10%;
		}
		.circle{
			display: inline-block;
			width:50px;
			height: 50px;
			border-radius:50%;
			border: 1px solid rgba(255,255,255,0.2);
			position: relative;
			margin:0 20px;
		}
		.circle img{
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			margin:auto;
		}
		.img-hover:hover{
			opacity: 1;
		}
		.three-bottom{
			display: flex;
			
		}
		.three-bottom div:first-child{
			width: 25%;
			height:500px;
			border:1px solid #888 ;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-right: 0;
		}
		.three-bottom h4{
			margin:30px 0;
		}
		.three-bottom form{
			display: flex;
			flex-wrap: wrap;
			height: 80%;
			margin-bottom: 20px;
		}
		.three-bottom input{
			width:80%;
			height: 10%;
			border: 1px solid #888;
			margin-bottom: 20px;
			color: #888;
		}
		.three-bottom input:last-child{
			background-color:#000;
			color: #FFFFFF;
			margin:0 auto;
		}
		.three-bottom textarea{
			width:80%;
			height:40%;
			resize:none;
			margin-bottom:20px;
			color:#888;
		}
		.three-bottom div:last-child{
			width: 30%;
			margin-left:4%;
		}
		.three-bottom p{
			width:90%;
		}
		.three-bottom p:first-child{
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.three-bottom p:last-child{
			color: #888;
			margin-bottom: 40px;
		}
		